APP_NAME="MAPI CONECTA"
APP_ENV=local
APP_DEBUG=true
APP_URL="http://localhost/mapiconecta"
APP_BASE_PATH="/mapiconecta"
APP_TIMEZONE="America/Fortaleza"

DB_HOST=127.0.0.1
DB_PORT=13306
DB_NAME=mapiconecta
DB_CHARSET=utf8mb4
DB_USER=root
DB_PASS=
DB_TIMEOUT=3

# Exemplo HostGator
# APP_ENV=production
# APP_DEBUG=false
# APP_URL="https://seu-dominio.com.br"
# APP_BASE_PATH=
# DB_HOST=localhost
# DB_PORT=3306
# DB_NAME=seu_banco
# DB_USER=seu_usuario
# DB_PASS="sua_senha"
